<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- --VIEWPORT AND CHARSET -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- --TITLE AND FAVICON -->
    <title>WhatsApp</title>
    <link rel="icon" href="./icon_monkey.png" />

    <!-- --SEO INFO -->
    <meta name="description" content="A bad copy of a good WebApp" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Vue" />
    <meta name="author" content="Jibbo" />

    <!-- GOOGLE font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

    <!-- --FONTAWSOME icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- # BOOTSTRAP -->
    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- # VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- --MY CSS -->
    <link rel="stylesheet" href="./CSS/style.css" />

    <!-- --MY SCRIPT -->
    <script src="./JS/myfunction.js" defer></script>
    <script src="./JS/main.js" defer></script>
  </head>

  <body>
    <div id="app">
      <div id="chat-wrapper" class="container">
        <div class="row h-100 g-0">
          <div class="col-4 h-100 d-flex flex-column border border-right-1">
            <div id="user-wrapper" class="bar">
              <div class="user-details h-100">
                <img src="./img/avatar_io.jpg" alt="My profile picture" class="avatar" />
                <div class="contact-name">
                  <div class="title">{{userName}}</div>
                </div>
              </div>
              <div class="options-wrapper">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
            <div id="new-msg-alert" class="alert">
              <div class="alert-circle-icon">
                <i class="fa-solid fa-bell-slash"></i>
              </div>
              <div class="alert-msg-wrapper">
                <div class="text-msg">Ricevi notifiche</div>
                <a class="subtext-msg">Attiva notifiche desktop</a>
              </div>
            </div>
            <div id="filter-contacts" class="search-wrapper p-2">
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input v-model="searchText" type="text" class="form-control" placeholder="Search" aria-label="Search" @input="setContactVisibility()" />
              </div>
            </div>
            <div id="threads-wrapper">
              <div v-for="(contact, index) in contacts" v-show="contact.visible" class="thread" :class="contact == activeContact ? 'active' : ''" :style="`order: ${contact.order}`" @click="contactClickHandler(index)">
                <img :src="srcToJpg(contact.avatar)" :alt="contact.name + ' picture'" class="avatar" />
                <div class="user-details h-100">
                  <div class="contact-name">
                    <div class="title">{{contact.name}}</div>
                    <div class="subtitle">{{getLastMessageText(contact)}}</div>
                  </div>
                </div>
                <div v-if="isSentToday(getLastMessage(contact))" class="last-msg-date">{{getTime(getLastMessage(contact))}}</div>
                <div v-else class="last-msg-date">{{getDayTime(getLastMessage(contact))}}</div>
              </div>
            </div>
          </div>
          <div class="col-8 h-100 d-flex flex-column">
            <div id="receiver-wrapper" class="bar">
              <div class="user-details h-100">
                <img :src="srcToJpg(activeContact.avatar)" :alt="activeContact.name + ' picture'" class="avatar" />
                <div class="contact-name">
                  <div class="title">{{activeContact.name}}</div>
                  <div v-if="isSentToday(getLastMessageReceived(activeContact))" class="subtitle">Ultimo accesso: oggi alle {{getTime(getLastMessageReceived(activeContact))}}</div>
                  <div v-else-if="getDayTime(getLastMessageReceived(activeContact)) != ''" class="subtitle">Ultimo accesso: {{getDayTime(getLastMessageReceived(activeContact), true)}}</div>
                </div>
              </div>
              <div class="options-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
            <div id="thread-messages">
              <div v-for="(message, index) in activeContact.messages" class="message-wrapper" :class="{'sent' : message.status == 'sent'}">
                <div class="message-box">
                  <div class="message-options" :style="`z-index:${activeContact.messages.length - index}`" @click="message.menuVisible = true" @mouseleave="message.menuVisible = false">
                    <i class="fa-solid fa-chevron-down"></i>
                    <div v-if="message.menuVisible" class="menu" @mouseleave="message.menuVisible = false">
                      <div class="option" @mousedown.once="copyMessage(message)" @mouseup="message.menuVisible = false">Copy</div>
                      <div class="option" @mousedown.once="deleteMessage(activeContact, index)">Delete</div>
                    </div>
                  </div>
                  <div class="message-text">{{message.message}}</div>
                  <div class="message-date">{{getTime(message)}}</div>
                </div>
              </div>
            </div>
            <div id="writing-wrapper" class="bar">
              <div class="options-wrapper">
                <i class="fa-regular fa-face-smile"></i>
              </div>
              <textarea v-model="activeContact.draft" type="text" class="form-control" rows="1" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage()"></textarea>
              <div class="options-wrapper">
                <i class="fa-solid fa-microphone"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
